.header-container {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(71, 71, 218, 1) 21%, rgba(52, 108, 228, 1) 51%, rgba(44, 123, 232, 1) 59%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.nav-container {
    width: 100%;
    flex-wrap: wrap;
    color: white;
}

.lista,.menu-button, .menu{
    color: white;
    font-size: 30px;
}